$blue: #1a73e7;
$black: #3c3f49;
$stroke: #b2c0ce;
$secText: #616c81;
$success: #34bf3d;
$alert: #ea9b28;
$error: #e85d5d;
$link: #1a9de7;
$sucessText: #0a9b14;
$alertText: #e16d02;
$errorText: #c20d0d;
$white: #ffffff;

:root {
  --blue: #1a73e7;
  --black: #3c3f49;
  --stroke: #b2c0ce;
  --secText: #616c81;
  --success: #34bf3d;
  --alert: #ea9b28;
  --error: #e85d5d;
  --link: #1a9de7;
  --sucessText: #0a9b14;
  --alertText: #e16d02;
  --errorText: #c20d0d;
  --white: #ffffff;
}
