.test-color {
  color: var(--sucessText);
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 700px;
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 12px;
  background-color: #9bd59e;
  min-height: 230px;
  height: auto;
}

@media screen and (max-width: 600px) {
  mat-card {
    width: 340px;
  }
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

.meaning {
  font-size: 18px;
  color: var(--white);
}

mat-card-actions {
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 18px;
}

.loading {
  display: flex;
  justify-content: center;
}

.addStar {
  color: var(--white);
}
.icon-star {
  cursor: pointer;
}

.lesson-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 30px;
}

.lesson-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.padding-center {
  padding: 0 20px;
}

.lesson-active {
  background-color: green !important;
  box-shadow: 0 0 10px green !important;
}

.word {
  font-size: 24px;
  font-weight: bold;
  color: #402525e0;
  cursor: pointer;
}

.word:hover {
  color: #402525;
}

.margin-bottom {
  margin-bottom: 100px;
}
