<div class="display-center">
  <div class="lesson-center">
    <h1>აირჩიე გაკვეთილი</h1>
    <div>
      <button
        class="lesson-button"
        *ngFor="let item of lessonArray"
        (click)="onLesson($event, item)"
      >
        {{ item }}
      </button>
    </div>
    <div class="lesson-body">
      <mat-card>
        <mat-card-header>
          <mat-card-title>სიტყვები</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p
            class="word"
            *ngFor="let item of lessonWordList"
            (click)="onWordFromApi(item)"
          >
            {{ item.word }} - ({{ item.meaning }})
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <app-topword></app-topword> -->
  <mat-card
    *ngFor="let word of englishWordList.slice(0, 1)"
    class="margin-bottom"
  >
    <div *ngIf="!loading">
      <mat-card-header>
        <mat-card-title>{{ word.word }} ({{ word.phonetic }})</mat-card-title>
        <mat-icon
          class="icon-star"
          [style.color]="addStar"
          (click)="addWordStar()"
        >
          star
        </mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p class="meaning">{{ wordMeaning }}</p>
        <p>
          <a [href]="translate" target="_blank">
            translate {{ word.word }} into georgian
          </a>
        </p>
      </mat-card-content>
    </div>
    <div class="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>

    <!-- <div>
      {{ this.wordVoice }}
    </div> -->

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="playAudio()"
        *ngIf="wordVoice !== ''"
      >
        Play Audio
      </button>

      <button mat-raised-button color="accent" (click)="otherWord()">
        Next Word
      </button>
    </mat-card-actions>
  </mat-card>
</div>
