$primaryPallete: (
  50: #e4eefc,
  100: #bad5f8,
  200: #8db9f3,
  300: #5f9dee,
  400: #3c88eb,
  500: #1a73e7,
  600: #176be4,
  700: #1360e0,
  800: #0f56dd,
  900: #0843d7,
  A100: #ffffff,
  A200: #cdd9ff,
  A400: #9ab2ff,
  A700: #809eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
