$warnPallete: (
  50: #fcecec,
  100: #f8cece,
  200: #f4aeae,
  300: #ef8e8e,
  400: #eb7575,
  500: #e85d5d,
  600: #e55555,
  700: #e24b4b,
  800: #de4141,
  900: #d83030,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb6b6,
  A700: #ff9c9c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
