.example-spacer {
  flex: 1 1 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

::ng-deep .customize {
  background-color: red;
}

::ng-deep mat-menu {
  background-color: red;
}

.customize + * .mat-menu-panel {
  background: red;
}

.matmenucolor {
  color: rgb(27, 26, 26);
}
